// sidebar
$menuText:#556d6d;
$menuActiveText:#690330;
$subMenuActiveText:#000007; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#BC0050;

$subMenuBg:#ffffff;
$subMenuHover:#BC0050;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
